.favorites_title {
    width: 300px;
    text-align: center;
    border: 1px solid var(--ddColor);
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto 15px auto;
    background-color: var(--ffColor);
    letter-spacing: 1px;
    box-shadow: 0 0 5px 3px #ddd;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .favorites_title {
        width: auto;
    }
}