.favorites_card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}
.favorites_content {
    width: 48.33%;
    border: 1px solid var(--ddColor);
    border-radius: 3px;
    background-color: var(--ffColor);
    margin: 5px;
}
.favorites_content > .favorites_header {
    padding: 10px;
    text-align: center;
    background-color: var(--borderColorSuccess);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.favorites_content > .favorites_body {
    padding: 10px;
}
.favorites_body > p {
    border-bottom: 1px solid var(--borderColorSuccess);
    width: 100px;
    margin: 5px 0;
}
.favorites_body > .actions {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}
.actions > button {
    margin: 0 5px;
    border-radius: 5px;
}
.actions > button:first-child {
    border: 1px solid #3dc0f0;
    background-color: var(--ffColor);
}
.actions > button:not(:first-child) {
    border: 1px solid #f58d64;
    background-color: var(--ffColor);
}
.actions > button:hover:first-child {
    background-color: #0d84ce;
    color: var(--ffColor)
}
.actions > button:hover:not(:first-child) {
    background-color: #ff5436;
    color: var(--ffColor)
}
.actions > button:active {
    transform: translateY(-3px);
}
.favorites_content:hover {
    box-shadow: 0 0 8px 5px var(--ddColor);
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    .favorites_card {
        display: flex;
        flex-direction: column;
    }
    .favorites_content {
        width: 100%;
        margin: 5px;
    }
    .favorites_content .actions > * {
        margin: 5px 0;
    }
}