:root {
  --darkColor: #181818;
  --ffColor: #fff;
  --ddColor: #ddd;
  --borderColorSuccess: #52df9d;
  --bodyColorSuccess: #1ca854;
  --skewColor: #238dc6;
  --bodyColor: #f3f3f3;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
.text_capitalize {
  text-transform: capitalize;
}
.text_capitalize_first::first-letter {
  text-transform: capitalize;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}
.container {
  padding: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav_dark {
  background-color: var(--darkColor);
}
.nav > .nav_item > li:first-child {
  display: none;
}
/* .nav > .nav_item > ul li {
  float: left;
} */
.nav > .nav_item > li a{
  display: block;
  padding: 18px;
  color: var(--ffColor);
}
.nav > .nav_item > li a:hover {
  background-color: #534f4f;
}
input {
  border: 1px solid var(--ddColor);
  border-radius: 3px;
  padding: 8px 12px;
  margin-right: 5px;
}
.float_end {
  float: right;
}
.nav button {
  border: 0px;
  border: 1px solid var(--borderColorSuccess);
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
  background-color: transparent;
  margin: 10px;
  color: var(--ffColor);
}
.nav button:hover {
  background-color: var(--bodyColorSuccess)
}
hr {
  border: 1px solid var(--ddColor);
  margin: 5px;
}
button {
  padding: 8px 10px;
  border: 1px solid var(--ddColor);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    justify-self: start;
  }
  .nav > .nav_item{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav > .nav_item li:first-child {
    display: block;
  }
  .nav > .nav_item > li a{
    display: block;
  }
  .nav button {
    width: auto;
  }
  .nav ul {
    display: block;
  }
  .nav .float_end {
    display: flex;
    align-self: flex-start;
    margin-bottom: 3px;
    margin-left: 3px;
  }
}