.fixed_message_container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 10px;
    border: 1px solid var(--ddColor);
    border-radius: 5px;
    background-color: var(--ffColor);
    z-index: 100;
}
.message_error {
    background-color: #ff1d1d;
}
.message_success {
    background-color: #1fda79;
}
.message_warning {
    background-color: #f9911b;
}